:root {
  --bgmain: #ffff;
}

* {
  font-family:'Courier New', Courier, monospace;
}

body {
  background-color: black;
}

.game {
  margin: 0;
  padding: 10px;
}

.game-board {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

.board-row {
  height: auto;
  display: flex;
  justify-content: center;
}

.square {
  width: 60px;
  height: 60px;

  font-size: 24px;
  font-weight: bold;

  background: #eee;
  border: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}


.game-navBoard {
  background-color: blue;
  height: 50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-board {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.game-navBoard button {
  width: 40px;
  height: 40px;

  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;

  background: #eee;
  border: 1px solid #000;

  padding: 0;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mediaControl-btn {
  cursor: pointer;
}