.navigation-bar {
    background-color: black;
    height: 64px;
    display: flex;
    align-items: center;
}

.navbar-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;          /* 🔥 konten center vertikal */
    padding: 0 24px;
    color: white;
}

.app-logo {
    width: 100%;
    height:48px;
    width: auto;
    mix-blend-mode: screen;
}