body {
    margin: 0;
    padding: 0;
}

.navigation-bar {
    background-color: orange;
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.app-logo {
    margin: 1px;
    padding: 10px;
    width: 30px;
    height: 30px;
}